/* Generic styling */

.footer {
	display: flex;
  flex-wrap: wrap;
	position: fixed;
  background-color: #343a40;
  color: #bbb;
  line-height: 1;
  padding: auto;
  width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
  margin-top: 20px;
}



