/* Generic styling */

.footer {
  justify-content: center;
  background-color: lightgrey;
	display: flex;
  flex-wrap: wrap;
	position: fixed;
  color:rgba(0,0,0,.9);
  line-height: 1;
  padding: auto;
  width: 100%;
	left: 0;
	bottom: 0;
  margin-top: 20px;
}

.footer p{
	text-align: center;
  align-self: center;
  margin: 5px;
  font-size: 10pt;
}


